body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa; /* Light cyan background */
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

img.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px; /* Tamanho pequeno a médio */
    opacity: 0.8; /* Transparência leve */
}
